name: Build and populate cache

on:
  pull_request:
  push:
  workflow_dispatch:
    inputs:
      update_cachix:
        description: Update cachix
        required: true
        default: true
        type: boolean

      update_nur:
        description: Update NUR
        required: true
        default: true
        type: boolean

      skip_cached:
        description: Skip builds present in binary cache
        required: true
        default: true
        type: boolean

jobs:
  build:
    strategy:
      matrix:
        cachix_name:
          - jitterbug
        nur_repo:
          - jitterbug
        nix_path:
          - nixpkgs=channel:nixos-unstable
        include:
          - runner: ubuntu-latest
            kernel: linux
            arch: x86_64

    runs-on: ${{ matrix.runner }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install nix
        uses: cachix/install-nix-action@v31
        with:
          nix_path: ${{ matrix.nix_path }}
          extra_nix_config: |
            accept-flake-config = true

      - name: Setup cachix
        if: ${{ inputs.update_cachix }}
        uses: cachix/cachix-action@v16
        with:
          name: ${{ matrix.cachix_name }}
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
          skipPush: ${{ !inputs.update_cachix }}

      - name: Build
        run: >
          nix run github:Mic92/nix-fast-build
          --
          --no-nom
          ${{ inputs.skip_cached && '--skip-cached' || '' }}
          ${{ inputs.update_cachix && format('--cachix-cache "{0}"', matrix.cachix_name) || ''}}
          --flake .#checks."${{ matrix.arch }}-${{ matrix.kernel }}"

      - name: Update NUR
        if: ${{ inputs.update_nur }}
        run: curl -XPOST "https://nur-update.nix-community.org/update?repo=${{ matrix.nur_repo }}"
