name: "Build and populate cache"

on:
  pull_request:
  push:
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        os:
          - ubuntu-latest
        cachixName:
          - jitterbug
        nixPath:
          - nixpkgs=channel:nixos-unstable

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install nix
        uses: cachix/install-nix-action@v31
        with:
          nix_path: ${{ matrix.nixPath }}
          extra_nix_config: |
            experimental-features = nix-command flakes
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}

      - name: Setup cachix
        uses: cachix/cachix-action@v16
        with:
          name: ${{ matrix.cachixName }}
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"

      - name: Build
        run: |
          nix run github:Mic92/nix-fast-build -- --option accept-flake-config true --skip-cached --no-nom \
            --flake .#checks."$(nix eval --raw --impure --expr builtins.currentSystem)" \
            --cachix-cache "${{ matrix.cachixName }}"
